.input-field {
    margin: 0 auto;
    text-align: center;
}

.input-field input{
    border-radius: 15px;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    width: 16rem;
    border: none;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.2);
    outline: none;
    color:rgb(0, 0, 0);
    font-family: 'Pacifico', cursive;
    border: 1px black solid;
    
}

.input-field input:hover{
    background-color: whitesmoke;
    
}